@use '../../scss/' as *;

.login {
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-data {
      display: flex;
      justify-content: center;
      &__list {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
      }
    }
    h4 {
      margin-bottom: 30px;
      font-size: 30px;
      color: black;
    }
  }
}
