@use '../../scss/' as *;

.add-product {
  &__form {
    background-color: $white;
    padding: 30px;
    text-align: center;
    h2 {
      color: $footer-home-bg;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__wrap {
    width: 100%;
    min-width: 800px;
    height: 100%;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 30px;
    label {
      color: black;
      margin-right: 10px;
    }
    img {
      max-width: 300px;
      max-height: 400px;
    }
    textarea {
      min-width: 320px;
      min-height: 150px;
      outline: none;
      border: 1px solid #00000057;
      padding: 10px;
      resize: none;
      border-radius: 3px;
      &::-webkit-input-placeholder {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__btn {
    margin-right: 30px;
  }
  &__submit-btn {
    margin-right: 30px;
  }
}
