@use '../../scss/' as *;

.home-header__wrap {
  height: 80vh;
  background-image: url(../../asset//header/h5-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  position: relative;
  &__menu-btn {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
  }
}

.home-header__content {
  display: flex;
  align-items: center;

  height: 80vh;
  &-text {
    span.home-header__text {
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      padding-left: 50px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: $main-color;
      }
    }

    .home-header__brand {
      font-size: 75px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 15px;
      max-width: 200px;
      margin: 20px 0;
    }
  }
}
