@use '../../scss/' as *;

.product-card {
  transition: all 0.3s;
  &__wrap {
    position: relative;
    padding-bottom: 10px;
    width: fit-content;
    max-width: 350px;

    margin-bottom: 30px;
  }
  &__img {
    position: relative;
    img {
      max-width: 300px;
    }
  }
  &__content {
    text-align: center;
    margin-top: -50px;
    &-name {
      color: $black;
    }
    &-price {
      color: $main-color;
    }
  }
  &__feature {
    display: none;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    transition: all 0.3s;
    svg {
      color: $main-color;
      transition: all 0.3s;
    }
    &-item {
      margin-right: 20px;
      font-size: 30px;
      cursor: pointer;
      border: 2px solid $second-color;
      padding: 5px;
      line-height: 30px;
      &:hover {
        svg {
          color: white;
        }
      }
    }
  }
  &:hover {
    &__feature {
      display: block;
    }
    .overlay {
      opacity: 1;
    }
  }
  .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.356);
    transition: all 0.3s;
  }
}
