@use '../../scss/' as *;

.masonry-wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 50vh;
  min-height: 916px;
}
.masonry-left,
.masonry-right {
  min-width: 916px;
}

.masonry-right {
  display: flex;
}

.masonry-item {
  width: 100%;
  height: 100%;
  background-position: center;
}
.masonry-item-content {
  min-width: 450px;
  min-height: 470px;
  width: auto;
  height: auto;
  margin: 20px;
  border: 1px solid $main-color;
}
