@use '../../scss/' as *;

.comfirm {
  &__wrap {
    min-width: 350px;
    min-height: 200px;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  &-content {
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &-submit {
    display: flex;
    justify-content: space-between;
  }
}
