@use '../../scss/' as *;
.range-slider {
  color: black;
  max-width: 20vw;
  h3 {
    font-size: 14px;
  }
  &__submit {
    display: flex;
    align-items: center;
  }
  &__result {
    margin-left: 10px;
  }
}
